<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>變格練習器 prototype</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div id="mode_btns">
          <div class="btn mode_test" @click="toggleMode('upload')" :class="{is_highlight: mode == 'test'? true : false}">測驗模式</div>
          <div class="btn mode_upload" @click="toggleMode('test')" :class="{is_highlight: mode == 'upload'? true : false}">上傳模式</div>
        </div>
        <div id="mode_test" v-if="mode == &quot;test&quot;? true : false">
          <div class="top">
            <div class="userInput">
              <div class="status">{{ status }}</div>
              <input v-model="userInput" placeholder="可以輸入 mora 或 homo 試試">
            </div>
            <div class="info">
              <div class="show">
                <button>性別</button>
                <div class="text" v-if="currentWord">{{currentWord.type}}</div>
              </div>
              <div class="show">
                <button>變格</button>
                <div class="text" v-if="currentWord">{{currentWord.declension}}</div>
              </div>
              <div class="show">
                <button>詞幹</button>
                <div class="text" v-if="currentWord">{{currentWord.stem}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="bottom">
            <div class="mainInput left">
              <div class="name">Single</div>
              <div class="row" v-for="(item,i) in caseList">
                <label>{{item.cht}}</label>
                <input type="text" v-model="inputData.singleInputs[i]" :key="i">
                <div class="ansStatus"><i class="fas fa-check" v-if="inputData.singleInputs[i] === (ansData &amp;&amp; ansData.singleInputs[i])"></i></div>
              </div>
            </div>
            <div class="mainInput right">
              <div class="name">Plural</div>
              <div class="row" v-for="(item,i) in caseList" :key="item.eng">
                <label>{{item.cht}}</label>
                <input type="text" v-model="inputData.pluralInputs[i]">
                <div class="ansStatus"><i class="fas fa-check" v-if="inputData.pluralInputs[i] === (ansData &amp;&amp; ansData.pluralInputs[i])"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div id="mode_upload" v-if="mode == &quot;upload&quot;? true : false">
          <div class="top">
            <div class="userInput">
              <div class="status">{{ statusUpload }}</div>
            </div>
            <div class="info">
              <div class="show">
                <button>性別</button>
                <input>
              </div>
              <div class="show">
                <button>變格</button>
                <input>
              </div>
              <div class="show">
                <button>詞幹</button>
                <input>
              </div>
            </div>
          </div>
          <hr>
          <div class="bottom">
            <div class="mainInput left">
              <div class="name">Single</div>
              <div class="row" v-for="(item,i) in caseList">
                <label>{{item.cht}}</label>
                <input type="text" v-model="inputData.singleInputs[i]" :key="i">
              </div>
            </div>
            <div class="mainInput right">
              <div class="name">Plural</div>
              <div class="row" v-for="(item,i) in caseList" :key="item.eng">
                <label>{{item.cht}}</label>
                <input type="text" v-model="inputData.pluralInputs[i]">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="module" src="./script.js"></script>
</html>