#mode_upload .info button, #mode_upload .info input {
  display: inline-block;
  vertical-align: middle;
}
#mode_upload .info input {
  width: 100px;
}

#mode_test .top .userInput input {
  width: 250px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
#mode_test .top .userInput input:focus {
  outline: none;
  border: 2px solid #35598f;
}
#mode_test .top .status {
  margin-bottom: 20px;
}
#mode_test .top .link {
  position: absolute;
  bottom: 15%;
  right: 18%;
  width: 30px;
  height: 30px;
  border: 1px solid green;
}
#mode_test .top .info .text {
  display: inline-block;
  width: 70px;
  height: 20px;
  color: #888;
}
#mode_test .bottom .ansStatus {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 25px;
}
#mode_test .bottom .ansStatus i {
  font-size: 23px;
}
#mode_test .bottom .ansStatus i.fa-question {
  color: #999;
}
#mode_test .bottom .ansStatus i.fa-check {
  color: green;
}
#mode_test .bottom .ansStatus i.fa-times {
  font-size: 26px;
  color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Noto Sans TC";
}

html, body {
  height: 100%;
  width: 100%;
}

#app .test {
  color: green;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35598f;
}

.container {
  max-width: 750px;
  min-width: 720px;
  width: 80%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -8px 8px 3px 1px rgba(0, 0, 0, 0.3);
}

#mode_btns {
  position: absolute;
  right: 0px;
  top: 20px;
  transform: translateX(120%);
}

.btn {
  border: 1px solid #fff;
  color: #fff;
  background-color: #35598f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #fff;
  color: #35598f;
  background-color: #fff;
}
.btn:last-child {
  margin-top: 15px;
}
.btn.is_highlight {
  border: 1px solid #fff;
  color: #35598f;
  background-color: #fff;
}

#mode_test .top, #mode_upload .top {
  font-size: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(153, 153, 153, 0.5);
  padding-left: 20px;
}
#mode_test .top .userInput, #mode_upload .top .userInput {
  width: 65%;
  border-right: 2px solid rgba(153, 153, 153, 0.3);
  padding: 20px;
}
#mode_test .top .userInput .status, #mode_upload .top .userInput .status {
  color: #999;
}
#mode_test .top .info, #mode_upload .top .info {
  padding: 5px 5px 0px 15px;
  width: 35%;
}
#mode_test .top .info .show, #mode_upload .top .info .show {
  padding: 5px 5px;
  margin-bottom: 10px;
}
#mode_test .top .info button, #mode_upload .top .info button {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 3px 9px;
  border-radius: 4px;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(53, 89, 143, 0.9);
  box-shadow: -2px 3px 3px 1px rgba(85, 85, 85, 0.4);
}
#mode_test hr, #mode_upload hr {
  border: 1px solid rgba(153, 153, 153, 0.4);
  opacity: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
}
#mode_test .bottom, #mode_upload .bottom {
  font-size: 0;
  width: 90%;
}
#mode_test .bottom .mainInput, #mode_upload .bottom .mainInput {
  padding-top: 10px;
  display: inline-block;
  height: 100%;
  width: 50%;
  font-size: 16px;
}
#mode_test .bottom .mainInput .name, #mode_upload .bottom .mainInput .name {
  color: #777;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 4px;
}
#mode_test .bottom .mainInput.left, #mode_upload .bottom .mainInput.left {
  border-right: 2px dashed rgba(136, 136, 136, 0.4);
}
#mode_test .bottom .mainInput .row, #mode_upload .bottom .mainInput .row {
  font-size: 16px;
  padding: 3px 10px;
  padding-left: 20px;
  margin-top: 4px;
}
#mode_test .bottom .mainInput .row *, #mode_upload .bottom .mainInput .row * {
  display: inline-block;
  vertical-align: middle;
}
#mode_test .bottom .mainInput .row label, #mode_upload .bottom .mainInput .row label {
  color: #888;
  font-weight: 500;
}
#mode_test .bottom .mainInput .row input, #mode_upload .bottom .mainInput .row input {
  margin: 10px;
  width: 120px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#mode_test .bottom .mainInput .row input:focus, #mode_upload .bottom .mainInput .row input:focus {
  outline: none;
  border: 2px solid #35598f;
}

.container .top, .container .bottom {
  border-radius: 10px;
  border: 2px solid rgba(153, 153, 153, 0.8);
  left: 50%;
  transform: translateX(-50%);
}

.container .top .userInput, .container .top .info {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.container .top .info button, .container .top .info .text {
  vertical-align: middle;
}