$color_blue: #35598f
$color_red: #e15454
$color_white: #fff
@mixin center()
  display: flex
  justify-content: center
  align-items: center
@mixin size($w, $h:$w)
  width: $w
  height: $h
@mixin shadow($dx: 0px, $dy: 0px)
  box-shadow: calc(-2px + $dx) calc(2px + $dy) 3px 1px rgba(85, 85, 85, 0.4) 