@import './_source'
  
#mode_test
  .top
    .userInput
      // border: 1px solid #000
      button.random
        // display: block
        border: 1px solid $color_green
        background-color: $color_white
        color: $color_green
        font-size: 12px 
        padding: 3px 9px 
        border-radius: 4px
        margin-left: 10px
        cursor: pointer
        transition: .2s
    .info
      .text
        display: inline-block 
        width: 70px 
        height: 20px 
        color: #888 
  .bottom
    .ansStatus
      border-radius: 50% 
      width: 30px 
      height: 30px 
      margin-left: 25px 
      i 
        font-size: 23px 
        &.fa-question 
          color: #999 
        &.fa-check 
          color: green 
        &.fa-times 
          font-size: 26px 
          color: red 

////// functions //////
#mode_test
  .top
    .userInput
      input
        &:focus 
          outline: none 
          border: 2px solid $color_blue
      button
        &:hover
          border: 1px solid $color_green
          background-color: $color_green
          color: $color_white
          // transform: translate(-2px, -2px)
          // box-shadow: -1px 1px 3px 1px rgba(85, 85, 85, 0.4) 
          // +shadow(2px, 5px)