////// import //////
@use './style/upload'
@use './style/test'
@use './style/reset'
@import './style/_source'


////// base //////
html, body
	+center 
	background-color: $color_blue
* 
	// border: 1px solid #000
	
.container
	max-width: 750px 
	min-width: 720px
	width: 80% 
	padding: 30px 
	background-color: white 
	border-radius: 10px 
	box-shadow: -8px 8px 3px 1px rgba(0, 0, 0, 0.3) 

// style of mode_btns
#mode_btns, #mode_btns *
	// border: 1px solid #000	

#mode_btns
	position: absolute
	right: 0px
	top: 20px
	transform: translateX(120%)
.btn
	border: 1px solid $color_white
	color: $color_white
	background-color: $color_blue
	padding: 5px 10px
	border-radius: 5px
	cursor: pointer
	&:hover
		border: 1px solid $color_white
		color: $color_blue
		background-color: $color_white
	&:last-child
		margin-top: 15px
	&.is_highlight
		border: 1px solid $color_white
		color: $color_blue
		background-color: $color_white


#mode_test, #mode_upload
	.top, .bottom 
		border-radius: 10px 
		border: 2px solid rgba(153, 153, 153, 0.8) 
		left: 50% 
		transform: translateX(-50%) 
	.top 
		font-size: 0 
		width: 90% 
		display: flex 
		align-items: center 
		justify-content: center 
		border: 2px solid rgba(153, 153, 153, 0.5) 
		padding-left: 20px
		.userInput, .info 
			font-size: 16px 
			display: inline-block 
			vertical-align: top 
			height: 100% 
		.userInput 
			width: 65% 
			border-right: 2px solid rgba(153, 153, 153, 0.3) 
			padding: 20px 
			.status 
				color: #999 	
			input
				padding: 3px 5px
		.info 
			padding: 5px 5px 0px 15px 
			width: 35%
			button, .text 
				vertical-align: middle 
			.show 
				padding: 5px 5px 
				margin-bottom: 10px 
			button 
				font-size: 14px 
				letter-spacing: 2px 
				padding: 3px 9px 
				border-radius: 4px 
				color: white 
				margin-right: 10px 
				border: none 
				background-color: $color_blue
				box-shadow: -2px 3px 3px 1px rgba(85, 85, 85, 0.4) 
				// transition: 0.3s 
				&:hover 
					// transform: translate(1px, -1px) 
					// box-shadow: -4px 4px 3px 1px rgba(85, 85, 85, 0.4) 
#mode_test, #mode_upload
	hr 
		border: 1px solid rgba(153, 153, 153, 0.4) 
		opacity: 0 
		margin-top: 15px 
		margin-bottom: 15px 
		width: 80%
#mode_test, #mode_upload
	.bottom 
		font-size: 0 
		width: 90% 
		.mainInput 
			padding-top: 10px 
			display: inline-block 
			height: 100% 
			width: 50% 
			font-size: 16px 
			.name 
				color: #777 
				font-weight: 700 
				font-size: 12px 
				position: absolute 
				left: 8px 
				top: 4px 
			&.left 
				border-right: 2px dashed rgba(136, 136, 136, 0.4) 
			.row 
				font-size: 16px 
				padding: 3px 10px 
				padding-left: 20px 
				margin-top: 4px 
				* 
					display: inline-block 
					vertical-align: middle 
				label 
					color: #888 
					font-weight: 500 
				input 
					margin: 10px 
					width: 120px 
					height: 25px 
					border-radius: 3px 
					border: 1px solid rgba(0, 0, 0, 0.5) 
					padding: 3px 5px

////// functions //////
.bottom
	.mainInput
		.row
			input
				&:focus 
					outline: none 
					border: 2px solid $color_blue 



